@import url("https://fonts.googleapis.com/css?family=Satisfy");

@font-face {
  font-family: "oz-bold";
  src: url("/fonts/AoOz-Bold.woff") format("woff");
}

@font-face {
  font-family: "ao-icons";
  src: url("/fonts/ao-icons.woff2") format("woff2");
}

@font-face {
  font-family: "oz";
  src: url("/fonts/AoOz-Regular.woff") format("woff");
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efefef;
}

.blog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-bottom: -50px;
  color: white;
  text-align: center;
  background-image: url("//media.ao.com/uk/contentHub/blog/img/kathy-slack/header_aeg.jpg");
  background-position: 50%;
  background-size: cover;
}

.header-content {
  max-width: 230px;

  h1 {
    margin-bottom: 16px;
    line-height: 1.2;
    font-family: oz-bold, Arial, Helvetica, sans-serif;
    font-size: 2.25rem;

    span {
      font-family: "Satisfy", cursive;
      font-size: 1.5rem;
    }
  }
}

.blog-content {
  padding: 0 10px;
  line-height: 1.4;
  background-color: #efefef;

  p {
    font-size: 0.8125rem;
  }

  .inner > * {
    margin-bottom: 24px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.article-header {
  text-align: center;

  p.article-header-content {
    font-size: 0.875rem;
  }

  figure {
    img {
      width: 200px;
      height: auto;
      border-radius: 50%;
    }
  }

  a {
    color: #7fba23;
    text-decoration: underline;
  }
}

.inner {
  padding: 25px;
}

.article-quote {
  margin: 0;

  &::after,
  &::before {
    display: block;
    font-family: ao-icons;
    font-size: 24px;
    font-size: 1.5rem;
    color: #7fba23;
  }

  &::before {
    content: "\e63e";
    margin-bottom: 8px;
    text-align: left;
  }

  &::after {
    content: "\e63d";
    text-align: right;
  }

  p {
    font-family: oz-bold;
    font-weight: 700;
    font-size: 1.125rem;
  }
}

@media (min-width: 544px) {
  .article-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;

    figure {
      width: 130%;
      margin: 0 20px 0 0;

      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .header-content {
    max-width: 300px;

    h1 {
      font-size: 2.75rem;

      .blog-content {
        max-width: 768px;
        margin-right: auto;
        margin-left: auto;

        .inner {
          padding: 66px;
        }
      }

      span {
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 990px) {
  .article-header {
    p.article-header-content {
      font-size: 1rem;
    }
  }

  .blog-content {
    p {
      font-size: 0.875rem;
    }
  }

  .article-quote {
    p {
      font-size: 1.5rem;
    }
  }
}
